node_modules/
output*/
src/*
tests/
.gitignore
.prettierignore
.idea
cloudbuild.yml
CODE_OF_CONDUCT.md
package-lock.json
prettier.config.json
PULL_REQUEST_TEMPLATE.md
setupJest.ts
tsconfig.json
tsconfig.tests.json
tslint.json
yarn.lock
