/* tslint:disable */

{{#imports}}
import { {{.}} } from './{{#dashCase}}{{.}}{{/dashCase}}.model';
{{/imports}}

export interface {{&name}} {
{{#properties}}
  {{#isArray}}
  {{name}}: {{typescriptType}}[];
  {{/isArray}}
  {{^isArray}}
  {{name}}: {{typescriptType}};
  {{/isArray}}
{{/properties}}
{{#refs}}
  {{#isArray}}
  {{name}}: {{typescriptType}}[];
  {{/isArray}}
  {{^isArray}}
  {{name}}: {{typescriptType}};
  {{/isArray}}
{{/refs}}
}
