/* tslint:disable */
{{^isEnum}}
{{#imports.length}}
import {
{{#imports}}
  {{.}},
{{/imports}}
} from './..';
{{/imports.length}}

export interface {{&name}} {
{{#properties}}
  {{#isArray}}
  {{name}}: {{typescriptType}}[];
  {{/isArray}}
  {{^isArray}}
  {{name}}: {{typescriptType}};
  {{/isArray}}
{{/properties}}
}
{{/isEnum}}
{{#isEnum}}

export enum {{&name}} {
{{#properties}}
  {{name}} = "{{name}}",
{{/properties}}
}
{{/isEnum}}