/* tslint:disable */

import { Observable } from 'rxjs';
import { HttpOptions } from './';
import * as models from '.{{#swaggerTag}}./..{{/swaggerTag}}/models';

export interface {{&interfaceName}} {

{{#methods}}
  {{#description}}
  /**
   * {{&.}}
   */
{{/description}}  {{&methodName}}(
  {{#parameters.length}}
    args: {
    {{#parameters}}
      {{&camelCaseName}}{{^isRequired}}?{{/isRequired}}: {{&type}},{{#description}}  //{{^isRequired}} (optional){{/isRequired}} {{&.}}{{/description}}
    {{/parameters}}
    },
  {{/parameters.length}}
    requestHttpOptions?: HttpOptions
  ): Observable<{{&responseTypeSchema.type}}>;

{{/methods}}
}
