/* tslint:disable */

import * as models from '../models';

/* generated type guards */

{{#definitions}}
{{^isEnum}}
export function is{{&definitionName}}(arg: any): arg is models.{{&definitionName}} {
  return (
  arg != null &&
  typeof arg === 'object' &&
  {{#properties}}
    // {{&name}}{{^isRequired}}?{{/isRequired}}: {{&type}}{{#guard}}
    {{&guard}} &&{{/guard}}
  {{/properties}}
  {{#extend}}
    // extends {{&.}}
    is{{&.}}(arg) &&
  {{/extend}}

  true
  );
  }

{{/isEnum}}{{#isEnum}}
export function is{{&definitionName}}(arg: any): arg is models.{{&definitionName}} {
  return arg != null
  {{#properties}} || arg === models.{{&definitionName}}.{{name}}
  {{/properties}};
  }

{{/isEnum}}
{{/definitions}}

