/* tslint:disable */

{{#definitions}}
export { is{{definitionName}} } from './{{#renderFileNameGuard}}{{definitionName}}{{/renderFileNameGuard}}';
{{/definitions}}

/* build in guard helpers */
export * from './build-in.guards';
