/* tslint:disable */
{{^isEnum}}
{{#imports.length}}
import {
{{#imports}}
  {{.}},
{{/imports}}
} from './..';
{{/imports.length}}

export interface {{&name}} {{#extend}}extends {{.}} {{/extend}}{
{{#properties}}
  {{name}}: {{typescriptType}}{{#isArray}}[]{{/isArray}};
{{/properties}}
}
{{/isEnum}}
{{#isEnum}}
  {{#isNumeric}}

export enum {{&name}} {
    {{#properties}}
  {{name}} = {{value}},
    {{/properties}}
}
  {{/isNumeric}}
  {{^isNumeric}}

export enum {{&name}} {
    {{#properties}}
  {{name}} = "{{value}}",
    {{/properties}}
}
  {{/isNumeric}}
{{/isEnum}}